###########
# Python
###########

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
env/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/
docs/build/

# PyCharm
.idea/

# VSCode
.vscode/

# Virtual environments
*venv*/

###########
# Matlab
###########
*.asv
matlab/Estimated_*.mat
matlab/Ind_DCM_*.mat
*.mat

#####################
# Experimental data #
#####################

*.dcm
*.nii
*.dat
NFB_OpenNFT/NF_INT_SVM_BD/*
NFB_OpenNFT/motor_nfb_files/motor_nfb_PC.ini
