###########
# Python
###########

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
env/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/
docs/build/

# PyCharm
.idea/

# VSCode
.vscode/

###########
# Matlab
###########
*.asv
matlab/Estimated_*.mat
matlab/Ind_DCM_*.mat
OpenNFT_venv/Scripts/Activate.ps1
OpenNFT_venv/Scripts/activate.bat
OpenNFT_venv/Scripts/deactivate.bat
OpenNFT_venv/pyvenv.cfg
*.mat
*.dat
*.dat
*.txt
NFB_OpenNFT/NF_INT_SVM_BD/BackgOrthView.dat
NFB_OpenNFT/NF_INT_SVM_BD/OrthView.dat
NFB_OpenNFT/NF_INT_SVM_BD/OrthView_neg.dat
NFB_OpenNFT/NF_INT_SVM_BD/stim_path/Stimuli_NF_BD_test_1.txt
*.dcm
*.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000033.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000034.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000035.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000036.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000037.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000038.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000039.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000040.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000041.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000042.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000043.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000044.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000045.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000046.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000047.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000048.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000049.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000050.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000051.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000052.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000053.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000054.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000055.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000056.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000057.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000058.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000059.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000060.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000061.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000062.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000063.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000064.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000065.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000066.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000067.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000068.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000069.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000070.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000071.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000072.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000073.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000074.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000075.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000076.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000077.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000078.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000079.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000080.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000081.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000082.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000083.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000084.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000085.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000086.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000087.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000088.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000089.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000090.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000091.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000092.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000093.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000094.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000095.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000096.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000097.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000098.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000099.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000100.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000101.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000102.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000103.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000104.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000105.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000106.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000107.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000108.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000109.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000110.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000111.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000112.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000113.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000114.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000115.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000116.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000117.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000118.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000119.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000120.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000121.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000122.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000123.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000124.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000125.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000126.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000127.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000128.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000129.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000130.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000131.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000132.dcm
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/BackgOrthView.dat
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/NF_Data_1/TimeVectors_01.txt
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/NF_Data_1/TimeVectors_display_01.txt
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/OrthView.dat
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/OrthView_neg.dat
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/shared.dat
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/statMap.dat
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/statMap_neg.dat
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/statVol.dat
NFB_OpenNFT/NF_INT_SVM_BD/stim_path/Stimuli_NF_BD_pilot01_1.txt
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/BackgOrthView.dat
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/NF_Data_1/TimeVectors_01.txt
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/NF_Data_1/TimeVectors_display_01.txt
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/OrthView.dat
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/OrthView_neg.dat
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/shared.dat
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/statMap.dat
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/statMap_neg.dat
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/statVol.dat
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000033.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000034.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000035.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000036.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000037.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000038.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000039.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000040.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000041.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000042.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000043.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000044.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000045.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000046.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000047.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000048.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000049.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000050.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000051.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000052.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000053.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000054.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000055.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000056.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000057.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000058.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000059.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000060.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000061.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000062.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000063.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000064.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000065.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000066.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000067.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000068.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000069.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000070.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000071.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000072.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000073.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000074.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000075.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000076.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000077.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000078.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000079.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000080.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000081.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000082.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000083.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000084.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000085.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000086.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000087.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000088.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000089.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000090.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000091.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000092.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000093.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000094.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000095.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000096.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000097.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000098.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000099.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000100.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000101.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000102.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000103.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000104.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000105.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000106.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000107.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000108.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000109.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000110.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000111.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000112.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000113.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000114.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000115.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000116.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000117.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000118.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000119.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000120.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000121.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000122.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000123.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000124.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000125.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000126.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000127.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000128.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000129.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000130.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000131.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000132.dcm
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/BackgOrthView.dat
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/NF_Data_1/TimeVectors_01.txt
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/NF_Data_1/TimeVectors_display_01.txt
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/OrthView.dat
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/OrthView_neg.dat
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/shared.dat
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/statMap.dat
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/statMap_neg.dat
NFB_OpenNFT/NF_INT_SVM_BD/pilot01/statVol.dat
NFB_OpenNFT/NF_INT_SVM_BD/stim_path/Stimuli_NF_BD_pilot01_1.txt
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/BackgOrthView.dat
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/NF_Data_1/TimeVectors_01.txt
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/NF_Data_1/TimeVectors_display_01.txt
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/OrthView.dat
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/OrthView_neg.dat
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/shared.dat
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/statMap.dat
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/statMap_neg.dat
NFB_OpenNFT/NF_INT_SVM_BD/test_pilot01/statVol.dat
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000033.dcm
*.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000128.dcm
*.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000024.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000001.dcm
*.dcm
NFB_OpenNFT/configs/NF_INT_SVM_BD.ini
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000008.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000009.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000010.dcm
*.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000011.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000012.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000013.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000014.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000015.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000016.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000017.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000018.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000019.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000020.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000021.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000022.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000023.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000024.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000025.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000026.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000027.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000028.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000029.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000030.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000031.dcm
NFB_OpenNFT/NF_INT_SVM_BD/NF_Run_1/001_000008_000032.dcm
NFB_OpenNFT/configs/NF_INT_SVM_BD.ini
